// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#products {
    display: flex;
    flex-wrap: wrap;
        .listings {
            max-width: 50%;
            padding: 1rem;
                li {
                    padding: 0.5rem;
                }
        }
}


textarea {
    height: 300px;
    width: 500px;
}


@media screen and (min-width: 300px) and (max-width: 767px) {

    body {
        p {
            padding: 0 5%;    
        }
    }
    #products {
        display: flex;
        flex-wrap: wrap;
        .listings {
            min-width: 100%;
            padding: 1rem;
            li {
                padding: 0.5rem;
            }
        }
    }
    
    .field, a {
        padding-left: 5%;
        textarea {
            height: 200px;
            width: 90%;   
        }    
    }

    p {
        a {
          padding-left: 0;
        }
      }
}