    .products {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        .listings {
            max-width: 50%;
            padding: 1rem;
            li {
                padding: 0.5rem;
            }
        }
    }

@media screen and (min-width: 300px) and (max-width: 767px) {
    .products {
        display: flex;
        flex-wrap: wrap;
        .listings {
            min-width: 100%;
            padding: 1rem;
            li {
                padding: 0.5rem;
            }
        }
    }
}