<h1 class='title'>Search Results</h1>

<table class='table'>
        <thead>
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Price</th>
          </tr>
        </thead>
      
        <tbody>
          <% @results.each do |result| %>
          <tr>
            <td class=''><%= link_to result.image.attached? ? image_tag(result.image, style: 'height: 100') : '', result %> </td>
            <td><%= result.title %></td>
            <td><%= number_to_currency(result.price) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>